<%= form_with(model: @event, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :time_of_event %>
    <%= f.datetime_select :time_of_event, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :created_by_id %>

    <%= f.collection_select :created_by_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :event_location %>

    <%= f.text_field :event_location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :event_category_id, value: @event_category.id %>

  <%= f.submit "Create event", class: "btn btn-block btn-outline-secondary" %>
<% end %>
