<% was_validated = bought_ticket.errors.any? %>

<%= form_with(model: bought_ticket, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for ticket_bought_id start -->
  <div class="form-group">
    <% ticket_bought_class = "form-control" %>
    <% ticket_bought_was_invalid = bought_ticket.errors.include?(:ticket_bought) %>

    <% if was_validated %>
      <% if ticket_bought_was_invalid %>
        <% ticket_bought_class << " is-invalid" %>
      <% else %>
        <% ticket_bought_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :ticket_bought_id %>
    <!-- Input for ticket_bought_id start -->
    <%= f.collection_select :ticket_bought_id, Ticket.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for ticket_bought_id end -->
    <% if ticket_bought_was_invalid %>
      <% bought_ticket.errors.full_messages_for(:ticket_bought).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for ticket_bought_id end -->
  <!-- Label and input for bought_by_id start -->
  <div class="form-group">
    <% bought_by_class = "form-control" %>
    <% bought_by_was_invalid = bought_ticket.errors.include?(:bought_by) %>

    <% if was_validated %>
      <% if bought_by_was_invalid %>
        <% bought_by_class << " is-invalid" %>
      <% else %>
        <% bought_by_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :bought_by_id %>
    <!-- Input for bought_by_id start -->
    <%= f.number_field :bought_by_id, class: bought_by_class, placeholder: "Enter bought by" %>
    <!-- Input for bought_by_id end -->
    <% if bought_by_was_invalid %>
      <% bought_ticket.errors.full_messages_for(:bought_by).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for bought_by_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
