<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% first_name_class = "form-control" %>
    <% first_name_was_invalid = user.errors.include?(:first_name) %>

    <% if was_validated %>
      <% if first_name_was_invalid %>
        <% first_name_class << " is-invalid" %>
      <% else %>
        <% first_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: first_name_class, placeholder: "Enter first name" %>
    <% if first_name_was_invalid %>
      <% user.errors.full_messages_for(:first_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% last_name_class = "form-control" %>
    <% last_name_was_invalid = user.errors.include?(:last_name) %>

    <% if was_validated %>
      <% if last_name_was_invalid %>
        <% last_name_class << " is-invalid" %>
      <% else %>
        <% last_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: last_name_class, placeholder: "Enter last name" %>
    <% if last_name_was_invalid %>
      <% user.errors.full_messages_for(:last_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% email_address_class = "form-control" %>
    <% email_address_was_invalid = user.errors.include?(:email_address) %>

    <% if was_validated %>
      <% if email_address_was_invalid %>
        <% email_address_class << " is-invalid" %>
      <% else %>
        <% email_address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :email_address %>
    <%= f.text_field :email_address, class: email_address_class, placeholder: "Enter email address" %>
    <% if email_address_was_invalid %>
      <% user.errors.full_messages_for(:email_address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% credit_card_number_class = "form-control" %>
    <% credit_card_number_was_invalid = user.errors.include?(:credit_card_number) %>

    <% if was_validated %>
      <% if credit_card_number_was_invalid %>
        <% credit_card_number_class << " is-invalid" %>
      <% else %>
        <% credit_card_number_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :credit_card_number %>
    <%= f.number_field :credit_card_number, class: credit_card_number_class, placeholder: "Enter credit card number" %>
    <% if credit_card_number_was_invalid %>
      <% user.errors.full_messages_for(:credit_card_number).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% credit_card_zip_code_class = "form-control" %>
    <% credit_card_zip_code_was_invalid = user.errors.include?(:credit_card_zip_code) %>

    <% if was_validated %>
      <% if credit_card_zip_code_was_invalid %>
        <% credit_card_zip_code_class << " is-invalid" %>
      <% else %>
        <% credit_card_zip_code_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :credit_card_zip_code %>
    <%= f.number_field :credit_card_zip_code, class: credit_card_zip_code_class, placeholder: "Enter credit card zip code" %>
    <% if credit_card_zip_code_was_invalid %>
      <% user.errors.full_messages_for(:credit_card_zip_code).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% credit_card_expiration_class = "form-control" %>
    <% credit_card_expiration_was_invalid = user.errors.include?(:credit_card_expiration) %>

    <% if was_validated %>
      <% if credit_card_expiration_was_invalid %>
        <% credit_card_expiration_class << " is-invalid" %>
      <% else %>
        <% credit_card_expiration_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :credit_card_expiration %>
    <%= f.date_select :credit_card_expiration, class: credit_card_expiration_class, placeholder: "Enter credit card expiration" %>
    <% if credit_card_expiration_was_invalid %>
      <% user.errors.full_messages_for(:credit_card_expiration).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
