<%= form_with(model: @auction_bid, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :ticket_id %>

    <%= f.collection_select :ticket_id, Ticket.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :bid_by_id, value: @user.id %>

  <%= f.submit "Create auction bid", class: "btn btn-block btn-outline-secondary" %>
<% end %>
