<div class="card mb-3">
  <h2 class="card-header h4">
    Event #<%= event.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Time of event</dt>
      <!-- Display time_of_event start -->
      <dd><%= event.time_of_event %></dd>
      <!-- Display time_of_event end -->

      <dt>Created by</dt>
      <!-- Display created_by_id start -->
      <dd><%= event.created_by_id %></dd>
      <!-- Display created_by_id end -->

      <dt>Event location</dt>
      <!-- Display event_location start -->
      <dd><%= event.event_location %></dd>
      <!-- Display event_location end -->

      <dt>Description</dt>
      <!-- Display description start -->
      <dd><%= event.description %></dd>
      <!-- Display description end -->

      <dt>Event category</dt>
      <!-- Display event_category_id start -->
      <dd><%= event.event_category_id %></dd>
      <!-- Display event_category_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back event, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link event start -->
      <div class="col">
        <%= link_to edit_event_url(event), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link event end -->

      <!-- Delete link event start -->
      <div class="col">
        <%= link_to event, method: :delete, data: { confirm: "Do you really want to delete this event?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link event end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(event.updated_at) %> ago
  </div>
</div>
