<% was_validated = event.errors.any? %>

<%= form_with(model: event, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% time_of_event_class = "form-control" %>
    <% time_of_event_was_invalid = event.errors.include?(:time_of_event) %>

    <% if was_validated %>
      <% if time_of_event_was_invalid %>
        <% time_of_event_class << " is-invalid" %>
      <% else %>
        <% time_of_event_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :time_of_event %>
    <%= f.datetime_select :time_of_event, class: time_of_event_class, placeholder: "Enter time of event" %>
    <% if time_of_event_was_invalid %>
      <% event.errors.full_messages_for(:time_of_event).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% created_by_class = "form-control" %>
    <% created_by_was_invalid = event.errors.include?(:created_by) %>

    <% if was_validated %>
      <% if created_by_was_invalid %>
        <% created_by_class << " is-invalid" %>
      <% else %>
        <% created_by_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :created_by_id %>
    <%= f.collection_select :created_by_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if created_by_was_invalid %>
      <% event.errors.full_messages_for(:created_by).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% event_location_class = "form-control" %>
    <% event_location_was_invalid = event.errors.include?(:event_location) %>

    <% if was_validated %>
      <% if event_location_was_invalid %>
        <% event_location_class << " is-invalid" %>
      <% else %>
        <% event_location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_location %>
    <%= f.text_field :event_location, class: event_location_class, placeholder: "Enter event location" %>
    <% if event_location_was_invalid %>
      <% event.errors.full_messages_for(:event_location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = event.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% event.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% event_category_class = "form-control" %>
    <% event_category_was_invalid = event.errors.include?(:event_category) %>

    <% if was_validated %>
      <% if event_category_was_invalid %>
        <% event_category_class << " is-invalid" %>
      <% else %>
        <% event_category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_category_id %>
    <%= f.collection_select :event_category_id, EventCategory.all, :id, :to_s, {}, class: "form-control" %>
    <% if event_category_was_invalid %>
      <% event.errors.full_messages_for(:event_category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
