<%= form_with(model: @bought_ticket, local: true) do |f| %>

  <%= f.hidden_field :ticket_bought_id, value: @ticket.id %>

  <div class="form-group">
    <%= f.label :bought_by_id %>

    <%= f.collection_select :bought_by_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create bought ticket", class: "btn btn-block btn-outline-secondary" %>
<% end %>
