<%= form_with(model: @auction_bid, local: true) do |f| %>

  <%= f.hidden_field :ticket_id, value: @ticket.id %>

  <div class="form-group">
    <%= f.label :bid_by_id %>

    <%= f.collection_select :bid_by_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create auction bid", class: "btn btn-block btn-outline-secondary" %>
<% end %>
